#jinja2: trim_blocks:False
consul = "{{ consul_template_consul_server }}:{{ consul_template_consul_port }}"
{% if consul_template_log_level -%}
log_level = "{{consul_template_log_level}}"
{% endif -%}
{% if consul_template_wait is defined -%}
wait = "{{consul_template_wait}}"
{% endif -%}
template {
  source = "/etc/nginx/conf.d/load-balancer.conf.ctmpl"
  destination = "/etc/nginx/conf.d/load-balancer.conf"
  perms = 0600
  command = "nginx -s reload"
}
