#jinja2: trim_blocks:False
{% if version is defined %}

  {% if version == "v1" %}
upstream be_version_v1 {
    {{'{{'}}- range service "bev1" {{'}}'}}
        server {{'{{'}} .Address {{'}}'}};
    {{'{{'}}- end {{'}}'}}
}

  {% elif version == "v2" %}
upstream be_version_v2 {
    {{'{{'}}- range service "bev2" {{'}}'}}
        server {{'{{'}} .Address {{'}}'}};
    {{'{{'}}- end {{'}}'}}
}
  
  {% endif %}
{% endif %}

server {
    listen 80;

{% if version is defined %}

  {% if version == "v1" %}
    location /v1/ {
        proxy_pass http://be_version_v1;
    }

  {% elif version == "v2" %}
    location /v2/ {
        proxy_pass http://be_version_v2;
    }

  {% endif %}
{% endif %}
}
